{% extends 'base.html' %}
{% block title %}
Register
{% endblock title %}
{% block content %}
                    {% include "users/includes/upper-form.html" %}
      
                      <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>
      
                      <form class="mx-1 mx-md-4" method="POST" action="">
                            {% csrf_token %}
                         {% for fields in form %}                           
                          
                        <div class="d-flex flex-row align-items-center mb-4">
                          <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                          <div class="form-outline flex-fill mb-0">                                                       
                             {{fields.label}}
                             {{fields}}
                          </div>
                        </div>
                        {% endfor %}     
                        <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                            <button class="btn  btn-lg btn-primary" href="{% url 'index' %}">SignUp</button>
                          </div>    
                        </form>
                      </div>
                      <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                          class="img-fluid" alt="Sample image">
                      </div>
                      {% include "users/includes/lower-form.html" %}
{% endblock %}                  