{% extends 'base.html' %}
{% load static %}
{% block title %}Password reset{% endblock %}
{% block content %}




{% include "users/includes/upper-form.html" %}
<h1>Passeord reset sucessfully</h1>
<p>Use Password Manager to remember passowrds! Almost every password manager relies on a master password to lock up all those saved passwords,which makes it more secure. </p>

<div class="container">
<img src ="{% static 'users/email-done.avif' %}" class="img img-fluid" >
</div>

<div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
    <a class="btn  btn-lg btn-primary" href="{% url 'login' %}">Login to enjoy our services</a>
  </div>  
{% include "users/includes/lower-form.html" %}
{% endblock content %}