{% extends "base.html" %} {% block title %}Reset your password{% endblock %}
{%block content %}
{% include "users/includes/upper-form.html" %}
<p class=" h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Reset  password</p>
{% if validlink %}

<form action="." method="post">
 {% csrf_token %}
 
 <label for="id_new_password1 " class='form-label'>New password:</label>
 <input type="password" class="form-control mt-3" name="new_password1" autocomplete="new-password" required="" id="id_new_password1">
 <label for="id_new_password2 " class="my-3">New password confirmation:</label>
 <input type="password" class="form-control " name="new_password2" autocomplete="new-password" required="" id="id_new_password2">
 <div class="d-flex justify-content-center mt-5">
 <button class="btn btn-primary btn-lg ">Reset</button> </div>
</form>
</div>
{% else %}
<p>
  The password reset link was invalid, possibly because it hasalready been used.
  Please request a new password reset.
</p>
{% endif %}

<div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
    class="img-fluid" alt="Sample image">
</div>
{% include "users/includes/lower-form.html" %}

{% endblock %}

